<!DOCTYPE html>
<html>
<head>

	<%-include("./partialTemplate/meta.ejs")%>
	<title>CoilSpace | About</title>



	<style type="text/css">
		
		@media screen and (min-width: 200px){

			article{
				width: 85%;
				margin: 50px auto 120px auto;
			}



			h1{
				font-size: 2rem;
				margin-bottom: 15px;
				color: rgb(50, 50, 50);
			}



			article > p{
				font-size: 1.2rem;
				line-height: 1.5;
				margin-top: 25px;
			}
		}
	</style>

</head>




<body>


	

	<main>
		<article>

			<h1>About CoilSpace</h1>
			<p>
				CoilSpace is a unique platform that offers users the opportunity to acquire and store a valuable digital asset known as "Coil." We are not involved in a traditional cryptocurrency trading, but rather focuses on providing a secure and user-friendly environment for investors to buy, and grow their Coils' value by storing them up.
			</p>


			<p>
				With CoilSpace, users can easily acquire Coils and invest them securely within the platform. The longer users hold onto their Coils, the more its value increases... What sets CoilSpace apart is our dedication to providing a seamless experience for our users in managing their assets. Additionally, our user-friendly interface makes it easy for anyone, from seasoned investors to newcomers, to navigate the platform and monitor their Coil growth with ease.
			</p>


			<p>
				To retain our integrity and to ensure the safety of all users during the Coil trading, we have provided a reliable and secure storage solution and employ robust technologies to safeguard our users' investments.
			</p>


			<p>
				With a clear and beautiful future, CoilSpace is here to stay. With it's accurate profit building techniques, it has vast potentials of bringing millions of people from around the world into the exciting realm of Coil trading... We will continue to provide a reliable and secure platform to empower users to navigate the financial landscape with confidence.
			</p>


			<p>
				Welcome to CoilSpace, embark on a journey of value appreciation with Coil. Start investing on Coil and experience the growth potential of this exciting digital asset.
			</p>
		</article>
	</main>


	<%-include("./partialTemplate/footer.ejs")%>

</body> 
</html>