<!DOCTYPE html>
<html>
	<head>
		<%-include("./partialTemplate/meta.ejs")%>



		<link rel="stylesheet" type="text/css" href="/css/landing.css">


		<title> CoilSpace | Home</title>
	</head>










<body>
	<%-include("./partialTemplate/header.ejs")%>

	








	<main role="main">


		<section>
			<i class="far fa-question-circle"></i>
			<h1>What is CoilSpace?</h1>
			<p>CoilSpace is an investment platform that offer users the opportunity to acquire and store a valuable digital asset known as "Coil"...</p>
			<a href="">Read more</a>
		</section>

		<a class="big_start" href="">Get Started</a>
	</main>







</body>
</html>