<!DOCTYPE html>
<html>
<head>
	
	<%-include("./partialTemplate/meta.ejs")%>

	<title>CoilSpace | Learn About CoilSpace</title>




	<style type="text/css">


		@media screen and (min-width: 200px){
		

			main{
				width: 85%;
				margin: 40px auto 100px auto;
			}


			p{
				margin-top: 20px;
				font-size: 1.2rem;
				color: rgb(50, 50, 50);
			}


			ol{
				color: rgb(50, 50, 50);
				font-size: 1.2rem;
				width: 85%;
				margin-left: 20px;
			}

			ol > li{
				margin-top: 20px;
			}
		}
	</style>
</head>




<body>

	<%-include("./partialTemplate/header.ejs")%>

	<main>
		<section>
			<h1>Getting Started with CoilSpace</h1>

			<p>
				In this guide, we will walk you through the process of using our platform to store Coil. By following these steps, you'll be able to maximize your potential earnings and participate in the exciting world of Coil trading... We will keep the article as short and simple as possible. 
			</p>






			<ol>


				<li>
					Outside of our platform, connect with Coil dealers or marketers who sell Coil.
					Discuss and negotiate the purchase terms, including the quantity of Coil you wish to buy and the agreed price.
					Once you've reached an agreement, complete the transaction with the Coil dealer. Ensure you receive a confirmation of the purchase.

				</li>



				<li>
					Log in to your account on the Coil Trading and Storage Platform.
					Locate the "Storage" or "My Coil" section in your account dashboard.
					Click on the "Store Coil" button or similar option.
					Enter the quantity of Coil you purchased and the purchase details (such as the date of purchase and dealer information).
					Confirm the storage process, and your Coil will be securely stored in our platform.
				</li>



				<li>
					Regularly visit your account dashboard to track the value of your stored Coil.
					Keep in mind that the longer you store your Coil in the platform, the more its value will increase over time.
					Take note of any fluctuations in the value and make informed decisions about when to sell your Coil.
				</li>


				<li>
					When you're ready to sell your Coil, locate the "Sell Coil" or "Trade" section in your account dashboard.
					Choose the quantity of Coil you want to sell and review the current value provided.
					Confirm the sale, and your Coil will be made available for purchase by Coil dealers.
					Wait for a dealer to buy your Coil at the agreed value.
					Once the sale is complete, the funds will be credited to your account.
				</li>
			</ol>




			<p>
				Congratulations! You've successfully learned how to use the Coil Trading and Storage Platform. By purchasing and storing Coil in our platform, you can take advantage of its increasing value over time. Remember to regularly monitor the value, make informed decisions, and engage with Coil dealers to maximize your earnings. If you have any further questions or need assistance, don't hesitate to reach out to our customer support team.

			</p>

		</section>
	</main>

	<%-include("./partialTemplate/footer.ejs")%>

</body>
</html>