<!DOCTYPE html>
<html>
<head>
	
	<%-include("./partialTemplate/meta.ejs")%>

	<title>CoilSpace | Learn About CoilSpace</title>




	<style type="text/css">


		@media screen and (min-width: 200px){

			header{
				border-bottom: 1px solid rgb(210, 210, 210);
			}



			.menu_wrapper .menu_head{
				padding-top: 10px;
			}


			.menu_wrapper .profile_name{
				padding: 0 8px 5px 0;
				text-align: left;
				display: inline-block;
				margin: 5px 0 0 20px;
				border-bottom: 1px solid rgb(100, 100, 100);
			}



			.menu_wrapper nav .learn{
				background-color: rgb(0, 35, 45);
				color: white;
				border-radius: 4px;
			}

			.menu_wrapper nav .learn i, .menu_wrapper nav .learn a{
				color: white;
			}



			footer .learn i, footer .learn a{
				color: blue;
			}
		

			main{
				padding: 0 15px 0 20px;
				margin: 40px auto 100px auto;
			}

			h1{
				font-size: 1.7rem;
			}


			main p{
				line-height: 1.5;
				margin-top: 20px;
				font-size: 1.15rem;
				color: rgb(50, 50, 50);
			}


			main ol{
				line-height: 1.5;
				color: rgb(50, 50, 50);
				font-size: 1.15rem;
				width: 85%;
				margin-left: 20px;
			}

			main ol > li{
				margin-top: 20px;
			}



			.learn_wrapper{
				margin-top: 30px;
				display: grid;
				grid-template-columns: 1fr 1fr;
				text-align: center;
			}

			.learn_wrapper p{
				border: 1px solid rgb(200, 200, 200);
				margin: auto;
				border-radius: 8px;
				padding: 10px 2px 5px 2px;
				width: 85%;
				background-color: rgb(255, 240, 240);
				font-size: 0.9rem;
			}

			.learn_wrapper p+p{
				background-color: rgb(240, 255, 240);
			}

			.learn_wrapper i{
				color: rgb(220, 0, 0);
				padding-bottom: 3px;
				display: block;
				font-size: 2rem;
			}


			.learn_wrapper p+p i{
				color: rgb(0, 100, 0);
			}
		}
	</style>
</head>




<body>

	<div class="body_overlay"></div>


	<header>
		<div class="menu_to_login">
			<i class="fas menu_icon fa-bars"></i>

			<p class="site_logo"><span> <i class="fa-solid fa-explosion"></i>Coil</span>Space</p>

			<div class="start_wrapper">
				<a class="start" href="/reg/direct">Get Started</a>
			</div>
		</div>

		
	</header>










	<div class="menu_wrapper zIndex_for_menu">

		<div class="menu_head">

			<div class="profile_icon_wrapper">
				<i class="fa-solid fa-explosion"></i>
				<span class="edit_profile"> </span>
			</div>



			<p onclick="window.location.href='/reg/direct'" class="profile_name">Sign Up</p>

		</div>
		

		<nav>
			<ul>
				<li class="main_page"><a href="/landing"><i class="fa-solid fa-briefcase"></i> Main Page </a></li>
				<li class="learn"><a href="/learn"><i class="fa-solid fa-book"></i> How to Use</a></li>
				<li><a><i class="fa-solid fa-gears"></i> Settings</a></li>
				<li><a><i class="fa-solid fa-circle-question"></i> Help Center</a></li>
				<li><a> Terms of Services</a></li>
			</ul>
		</nav>
	</div>










<script type="text/javascript">

		let html = document.querySelector("html");
		let menuIcon = document.querySelector(".menu_icon");
		let menu_wrapper = document.querySelector(".menu_wrapper");
		const body_overlay = document.querySelector(".body_overlay");
		menu_wrapper.style.width = "0";
		menu_wrapper.style.opacity ="0";
		menu_wrapper.style.zIndex = "-1";

		menuIcon.addEventListener("click", ()=>{

			body_overlay.addEventListener("click", ()=>{
				body_overlay.style.opacity = "0";
				body_overlay.style.display = "none";
				menu_wrapper.className = "close_menu menu_wrapper";
				menu_wrapper.style.border ="none";
			});

			if(menu_wrapper.offsetWidth < 10){
				menu_wrapper.style.zIndex = "5";
				body_overlay.style.display = "block";
				body_overlay.style.opacity = "0.7";
				menu_wrapper.style.opacity ="100%";
				menu_wrapper.className = "open_menu menu_wrapper";
				menu_wrapper.style.borderRight ="1px solid rgb(80 80 80)";
				menu_wrapper.style.borderBottom ="1px solid rgb(80 80 80)";

				window.onscroll = function() {
	  				body_overlay.style.opacity = "0";
					body_overlay.style.display = "none";
					menu_wrapper.className = "close_menu menu_wrapper";
					menu_wrapper.style.border ="none";

					setTimeout(()=>{
						menu_wrapper.style.zIndex = "-1";
					}, 220);

				};

			}else{
				body_overlay.style.opacity = "0";
				body_overlay.style.display = "none";
				menu_wrapper.className = "close_menu menu_wrapper";
				menu_wrapper.style.border ="none";
				
				setTimeout(()=>{
					menu_wrapper.style.zIndex = "-1";
				}, 220);

				window.onscroll = function(){//empty function to override the disabled scrolling
				};
			}
		});



	//Escape Key;
		document.addEventListener('keydown', function(event){
			if(event.key === "Escape"){
				body_overlay.style.opacity = "0";
				body_overlay.style.display = "none";
				menu_wrapper.className = "close_menu menu_wrapper";
				menu_wrapper.style.border ="none";

				setTimeout(()=>{
					menu_wrapper.style.zIndex = "-1";
				}, 220);

				window.onscroll = function(){//empty function to override the disabled scrolling
				};
			}
		});



	//Clicking outside
		html.addEventListener("click", ()=>{
			if(menu_wrapper.offsetWidth > 10){
				body_overlay.style.opacity = "0";
				body_overlay.style.display = "none";

				setTimeout(()=>{
					menu_wrapper.style.zIndex = "-1";
				}, 220);
				
				window.onscroll = function(){//empty function to override the disabled scrolling
				};

				menu_wrapper.className = "close_menu menu_wrapper";
			}
		});


	
	</script>






	<main>
		<section>
			<h1>CoilSpace Tutorial</h1>

			<p>
				In CoilSpace, there are two distinct roles: you can either be a Trader or an Agent.
			</p>






			<ol>
				<li>
					<b>Trader:</b> Traders are individuals who purchase coil from Agents for investment purposes.
				</li>



				<li>
					<b>Agent:</b> Agents are individuals who purchase bulk Coil directly from the company at a discounted price. They then sell it to traders.
				</li>

			</ol>




			<div class="learn_wrapper">
				<p><i class="fa-brands fa-youtube"></i> Learn Trading</p>
				<p><i class="fa-brands fa-youtube"></i> Learn Agency</p>

			</div>

		</section>
	</main>

	<%-include("./partialTemplate/footer.ejs")%>

</body>
</html>