<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<%-include("./partialTemplate/meta.ejs")%>

	<title>CoilSpace | Withdraw to Bank</title>


	<style type="text/css">


		@media screen and (min-width: 200px){

			div.menu_to_login{
				background-color: rgb(230, 250, 255);
			}


			.wallet_wrapper{
				display: none;
			}


			main{
				padding: 50px 7%;
				border-top: 1px solid rgb(200, 200, 200);
				margin: 0 auto 150px auto;
				box-sizing: border-box;
			}
			
			main h1{
				color: rgb(60, 60, 60);
				font-size: 1.8rem;
			}

			main p{
				margin: 10px  0 30px 0;
				font-size: 1.1rem;
				line-height: 1.7;
				color: rgb(100, 100, 100);
			}


			main h2{
				font-family: arial;
				margin-top: 60px;
				font-size: 1.7rem;
				font-weight: 400;
			}

			main ol{
				padding-right: 10px;
				margin-left: 10%;
			}


			main ol li{
				margin-top: 20px;
				line-height: 1.6;
				font-size: 1.1rem;
				color: black;
			}


			
			

			.generate_coil_button{
				display: block;
				background-color: rgb(0, 100, 50);
				width: 50%;
				padding: 15px 0;
				border: none;
				border-radius: 10px;
				color: white;
				margin: 50px auto 0 auto;
			}
		}


	</style>
</head>



<body>


	<%-include("./partialTemplate/header.ejs")%>


	<main>
		<section>
			<h1>Withdrawing to Local Bank</h1>
			<p>Since CoilSpace is not a banking platform, withdrawing from your wallet to your local bank needs to pass through local process...</p>

			<ol>
				<li>Generate Coil using the amount in your wallet and copy the Coil ID.</li>
				<li>Reach out to a Dealer and sell the Coil ID. The dealer will ask for your bank details and pay directly to it.</li>
				<li>Make sure all transactions are done with our trusted coil dealers. The WhatsApp links to contact them will be provided to you after you generate Coil.</li>
			</ol>
		</section>


		<button onclick="window.location.href='/generateCoil'" class="generate_coil_button">Generate Coil</button>
	</main>


	<%-include("./partialTemplate/footer.ejs")%>



</body>
</html>