<footer>
	<ul>
		<li class="home"><i class="fa-solid fa-house"></i> <a href="/main" class="home_link">Home</a></li>
		<li class="refer"><i class="fa-solid fa-share"></i><a href="/refer">Refer</a></li>
		<li class="history"><i class="fa-regular fa-file-lines"></i><a href="/history">History</a></li>
	</ul>
</footer>